header {
    font-family: Arial, sans-serif;
    background-color: #3b99bb;
    text-align: center;
    color:aliceblue
}

.btncontainer{
    height: 200px;
    position:relative;
    border:3px solid #4996b0;
}

.center{
    margin:0;
    position:absolute;
    top: 50%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn{
    width: 90px;
    height: 25px;
    text-align: center;
  

}
