header {
    font-family: Arial, sans-serif;
    background-color: #3b99bb;
    text-align: center;
    color:aliceblue
}

.btncontainer{
    height: 200px;
    position:relative;
    border:3px solid #4996b0;
}

.center{
    margin:0;
    position:absolute;
    top: 105%;
    left:45%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#book-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#read{
    padding-left: 2%;
}

.btn{
    width: 90px;
    height: 25px;
    text-align: center;
    position: absolute;
    margin: 0 auto;
}

button{
    cursor: pointer;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}